
body {
    font-family: 'Press Start 2P', monospace;
    overflow: hidden;
    height: 100%;
    
}


.pixel {
    box-sizing: border-box;
    background-color: white;
    border: .5px  solid rgb(24, 13, 13, 0.2);
    flex-shrink: 1;
    
   
}


.draw-pad {
   
   height: auto;
    display: flex;
    flex-wrap: wrap;
    
    margin-left: auto;
    margin-right: auto;
    
    
    border: 2px solid rgb(0, 0, 0);
}
.header {
    height: 100px;
}

button {
    font-family: 'Press Start 2P', monospace;
}