.pixel {
    box-sizing: border-box;
    background-color: white;
    height: 20px;
    width: 20px;
    border: .5px  solid rgb(24, 13, 13, 0.2);
   
}

.draw-pad {
   width: 320px;
   height: 320px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    
    
    border: 2px solid rgb(0, 0, 0);
}
.header {
    height: 100px;
}