.pixel {
    box-sizing: border-box;
    background-color: white;
    /*width: 20px;
    height: 20px;*/
    border: .5px  solid rgb(24, 13, 13, 0.2);
    flex-shrink: 1;
    
   
}


.draw-pad {
   
   height: auto;
    display: flex;
    flex-wrap: wrap;
    
    margin-left: auto;
    margin-right: auto;
    
    
    border: 2px solid rgb(0, 0, 0);
}
.header {
    height: 100px;
}